
body {
  background-color:#F0FFF0;
    color:#2D2D2D;
    font-family: Helvetica;
    font-size: 18px;

}


.Logo
{
text-align: center;

}

.wiki {
text-align: center;
}

.firmw {
text-align: center;
}
.video {
text-align: center;
}
.lien {
  color: #4BD6FF;
}

.bordure {
  margin-left: auto;
  margin-right: auto;
  width: 800px;
  background-color: #F0FFF0;
}
.resume {font-size:14px }

a:link {color:black;}
a:visited {color: #8FBC8F;}
a:hover {color: #A52A2A;}
a:active {color: #A52A2A;}
